fastapi
uvicorn
pydantic
google-generativeai
faiss-cpu
numpy
pandas
fpdf2
python-dotenv
langgraph
langchain
langchain-google-genai
langchain-community
chromadb
langchain-chroma
sentence-transformers
easyocr
python-multipart
openai
